.partner-wrapper {
  
  background: #fff;
  padding: 0px;
}

.text{
  color: maroon;
}
.partner-card {
  max-width: 460px;
  width: 100%;
  background: #ffffff;
  padding: 14px 16px;   
  border-radius: 14px;
}

.franchise-badge {
  background-color: #e7f0ff;
  color: #1e3a8a;
  padding: 6px 18px;
  border-radius: 50px;
  font-size: 12px;
}

.form-control,
.form-select {
  padding: 6px 10px;   
  font-size: 14px;
  border-radius: 8px;
}

.form-label {
  margin-bottom: 2px;
}

.form-check-label {
  font-size: 12px;
  line-height: 1.3;
}

.btn-danger {
  border-radius: 10px;
  font-size: 14px;
}

p {
  line-height: 3.0;
}
