.aim-section {
  background: #24135f;
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}


.aim-title {
  font-weight: 600;
  line-height: 1.4;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.aim-title .highlight {
  color: #f6c21c;
  font-style: italic;
  font-weight: 700;
  text-transform: lowercase;
  position: relative;
}


.btn-learn-more {
  /* background: white;
  color: #24135f; */
  background-color: #24135f;
  color: white;
  
  padding: 12px 32px;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}
.btn-learn-more:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.teacher-row {
  margin-top: 4rem !important;
}

.teacher-wrap {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;   
  position: relative;
  border: 8px solid transparent;
  transition: all 0.3s ease;
}

.teacher-wrap:hover {
  transform: scale(1.05);
}

.teacher-wrap.yellow {
  background: #f6c21c;
  border-color: rgba(246, 194, 28, 0.3);
}

.teacher-wrap.purple {
  background: #3a2a7a;
  border-color: rgba(58, 42, 122, 0.3);
}

.teacher-img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 50%;
}


.icon-union {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 50px;
  transform: rotate(-10deg);
}

.icon-star1 {
  position: absolute;
  top: 15%;
  right: 15%;
  width: 25px;
  animation: float 3s ease-in-out infinite;
}


.icon-arrow {
  position: absolute;
  top: 24%; 
  left: 28%;
  width: 65px;
  transform: rotate(15deg);
  z-index: 2;
}

.icon-dots {
  position: absolute;
  top: 55%;
  right: 30%;
  width: 85px;
  opacity: 0.9;
}

.icon-star2 {
  position: absolute;
  top: 45%;
  right: 5%;
  width: 35px;
  animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


@media (max-width: 1200px) {
  .icon-arrow {
    left: 55%;
  }
}

@media (max-width: 992px) {
  .icon-arrow {
    left: 58%;
  }
}

@media (max-width: 768px) {
  .aim-section {
    padding: 3rem 0;
  }
  
  .aim-title {
    font-size: 1.8rem;
  }
  
  .teacher-wrap {
    width: 180px;
    height: 180px;
  }

  

  .icon-union { 
    top: 5%; 
    left: 3%; 
    width: 35px; 
  }
  
  .icon-star1 { 
    top: 8%; 
    right: 8%; 
    width: 18px; 
  }
  
  .icon-arrow { 
    top: 30%;
    left: 30%;
    width: 50px;
  }
  
  .icon-dots { 
    top: 65%; 
    right: 58%; 
    width: 60px; 
  }
  
  .icon-star2 { 
    top: 50%; 
    right: 5%; 
    width: 25px; 
  }
}

@media (max-width: 576px) {
  .teacher-wrap {
    width: 240px;
    height: 240px;
  }
  
  .teacher-row {
    margin-top: 1.5rem !important;
  }
  
  .icon-arrow {
    top: 33%;
    left: 8%;
    width: 40px;
  }
}