.testimonial-card {
  background: #f4f4f4;
  border-radius: 24px;
  padding: 30px 20px 40px;
  position: relative;
}

.testimonial-card p {
  font-size: 15px;
  color: #333;
}

.stars span {
  color: #fbbf24;
  font-size: 15px;
}

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  /* border: 4px solid #fff; */
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}

.avatar img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.testimonial-card h6 {
  /* margin-top: 10px; */
  font-weight: 400;
}

.slider-btn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 5;
}

.slider-btn.left {
  left: -30px;
}

.slider-btn.right {
  right: -30px;
}


@media (max-width: 768px) {
  .slider-btn.left {
    left: 0;
  }
  .slider-btn.right {
    right: 0;
  }
}
