.need-section {
  padding: 60px 20px;
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: 600;
}

.title span {
  color: maroon;
}

.need-grid {
  display: grid;
  grid-template-columns: repeat(4, 0.3fr);
  gap: 0px;
  margin-top: 120px;
  justify-items: center;
}


.need-card {
  width: 210px;
  height: 210px;
  border: 2px solid maroon;
  border-radius: 14px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.need-card img {
  width: 45px;
  margin-bottom: 14px;
}

.need-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.need-card p {
  font-size: 14px;
  line-height: 1.4;
  color: #555;
}


.need-card.active {
  background-color: maroon;
  color: white;
  box-shadow: 0 12px 30px rgba(128, 0, 0, 0.4);
}

.need-card.active p {
  color: #f1f1f1;
}


@media (max-width: 992px) {
  .need-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 576px) {
  .need-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
  }

  .need-card {
    width: 170px;
    height: 200px;
  }

  .title {
    font-size: 24px;
  }
}
