* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; 
}


.environment-section {
  position: relative;
  width: 100%;
  overflow: hidden; 
  background: #fff; 
  padding: 120px 0 140px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}


.env-inner {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* ===== TITLE ===== */
.env-title {
  font-size: 42px;
  font-weight: 800;
  color: #fff;
  line-height: 1.2;
}

.env-title span {
  color: #f7c600;
}

.env-desc {
  max-width: 720px;
  margin: 14px auto 0;
  color: #f2f2f2;
  font-size: 14px;
}

/* ===== GALLERY ===== */
.env-gallery {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 18px;
  align-items: center;
}

.env-img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 22px;
  border: 3px solid #f7c600;
  background: #fff;
}

/* Center image */
.env-img.center {
  height: 260px;
  grid-row: span 2;
}

/* ===== TABLET ===== */
@media (max-width: 992px) {
  .env-title {
    font-size: 32px;
  }

  .env-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .env-img.center {
    grid-row: auto;
    height: 200px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 576px) {
  .environment-section {
    padding: 80px 0 100px;
  }

  .env-title {
    font-size: 26px;
  }

  .env-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  .env-img {
    height: 150px;
  }
}
