
.navbar-wrapper {
  position: relative;
  overflow: hidden;
  background: #fff;
}


.navbar-bar {
  background: #9b0000;
  padding: 22px 0 40px;
  position: relative;
  z-index: 5;
}

.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 42px;
}


.menu-list {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.menu-list li {
  cursor: pointer;
}

.menu-list li:hover {
  color: #ffc727;
}

.arrow {
  font-size: 12px;
}


.contact-btn {
  background: #fff;
  color: #9b0000;
  border: none;
  padding: 8px 22px;
  border-radius: 498px;
  font-weight: 600;
}


.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}

.drip-svg {
  width: 100%;
  height: 40px;
  display: block;
  margin-top: -1px;
}


.mobile-menu {
  display: none;
  background: #9b0000;
  padding: 16px 0;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-menu li {
  padding: 12px 0;
  color: #fff;
  font-size: 16px;
}

.mobile-btn {
  margin-top: 10px;
}


@media (max-width: 992px) {
  .desktop-menu,
  .desktop-btn {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu.show {
    display: block;
  }
}
